<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.ucsc.retap.retap">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:name=".common.App"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".inbox.InboxActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".messages.MessagesActivity"
            android:configChanges="orientation"/>

        <receiver
            android:name=".notifications.NotificationsEventReceiver"
            android:label="@string/app_name"
            android:permission="android.permission.BROADCAST_SMS"
            android:enabled="true">

            <intent-filter android:priority="2147483647">

                <action android:name="android.provider.Telephony.SMS_RECEIVED" />

            </intent-filter>

        </receiver>
              
        <activity
            android:name=".reminders.RemindersActivity"
            android:configChanges="orientation"/>

        <activity
            android:name=".settings.SettingsActivity"
            android:configChanges="orientation"/>

        <activity
            android:name=".compose.ComposeActivity"
            android:configChanges="orientation"/>

    </application>

</manifest>
